<div>
  <h2>Study: {{usersData2.study_name}} </h2>

</div>

<div class="row">


    <div class="form-group col-mat-4">
      <label    *ngIf="!login.isLoggedIn()">Email</label>
      <input   [formControl]="analyzeEmail"  type="text" class="form-control" placeholder="Email" *ngIf="!login.isLoggedIn()">
  
    </div>
  
    <div class="form-group input-group make-indentation" style="padding: 10px; margin-left:10px; margin-right: 10px; margin-bottom: 0; width: 98%;">
      <label>Disease / Physiological Condition</label>
      <form class="example-form" style="width: 100%;">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <input type="text" placeholder="Disease" aria-label="Disease / Physiological Condition" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                <b>{{option.name}}</b> - {{option.synonym}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
    </div>
  
  <div class="container-fluid">
      <div class="row">
        <div class="size-of-bar" *ngIf="filteredDiseases.length > 0">
          
            <div class="col-md-4" *ngIf="filteredDiseases.length > 0">
                <div *ngFor="let r of filteredDiseases" id="change-color-on-mouse-over">
                  <ul>
                    <li>
                      <a (click)="search(r.name)">
                        <b>{{ r.synonym }}</b> {{r.name}}
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  
    <div class="form-group col-mat-4" *ngIf="login.isLoggedIn()" style="padding: 10px; margin-left:10px; margin-right: 10px;">
      <label>Public or Private</label>
      <div>
  
        <mat-slide-toggle [formControl]="isPublic">{{ isPublic.value ? 'Public' : 'Private' }}</mat-slide-toggle>
      </div>
    </div>
  </div>

<!-- ################# table below  -->







<div class="row">
  <div class="col-md-6">
    <div id="chart"></div>
  </div>
  <div class="col-md-6">
    <blockquote class="blockquote" style="padding: 10px; margin-left:10px; margin-right: 10px;">
      <p>Number of Mapped Metabolites: {{usersData3.length - unmappedMetabolites.length}}</p>
      <p>Number of Unmapped Metabolites: {{unmappedMetabolites.length}}</p>
    </blockquote>
  </div>
  
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
          <th>Cases</th>
          <th></th>
          <td *ngFor="let name of cases">{{name}}</td>
      </tr>
      
    </thead>
  
    <tbody>
      <tr>
        <th>Label</th>
        <th></th>
        <td *ngFor="let label of labels">{{label}}</td>
      </tr>
      <tr> 
        <th>Metabolites</th>
        <th>Recon3D</th>
      </tr>
      </tbody>
  
  
      <tbody>
        <tr *ngFor="let r of usersData3;let i=index">
          <ng-container *ngIf="r.includes('- (-)')"><td *ngFor="let met of r" style="background-color: yellow;">{{met}}</td></ng-container>
          <ng-container *ngIf="!r.includes('- (-)')"><td *ngFor="let met of r">{{met}}</td></ng-container>
        </tr>
      </tbody>
  
  
  </table>
</div>





  


<!-- ############### analysis dropdown menu -->



<div class="row">
    <div class="col-md-1">
      <h4>Method:</h4>
    </div>
    <div class="col-md-3">
      <select [(ngModel)]="selectedMethod" class="form-control">
        <option *ngFor="let item of comboboxMethods" [ngValue]="item.id">{{item.name}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <button (click)="analyze()" class="btn btn-default" >Analyze</button>
    </div>
  </div>
